body{
    box-sizing: border-box;
    background-color: #333;
    height: 100vh;
    display: grid;
    place-content: center;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 5vw;
    border: #eee 2px solid;
    border-radius: 6px;
    background-color: #444;
    width: 80vw;   
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1, h2, pre{
    text-align: start;
    color:#eee;
    font-size: clamp(1rem, 4.5vw, 30px)
}
h1{
    text-align: center;
    font-size: clamp(1rem, 7vw, 60px)
}
pre{
    font-size: clamp(1rem, 5vw, 40px);
    text-align: start;
    margin-top:10vh;
}